apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-opentelemetry-collector-agent
  namespace: default
  labels:
    app.kubernetes.io/component: agent-collector
    app.kubernetes.io/instance: otel-collector
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: opentelemetry-collector
    app.kubernetes.io/part-of: opentelemetry-collector
data:
  relay: |
    receivers:
      filelog:
        include:
          - /var/log/containers/*.log
        exclude:
          - /var/log/containers/*fluent-bit*.log
          - /var/log/containers/*opentelemetry-collector*.log
        start_at: beginning
        include_file_path: true
        include_file_name: true
        operators:
          - type: add
            field: attributes.log_type
            value: container

      otlp:
        protocols:
          grpc:
            endpoint: ${env:MY_POD_IP}:4317
          http:
            endpoint: ${env:MY_POD_IP}:4318

    processors:
      batch:
        timeout: 5s
        send_batch_size: 1000

      k8sattributes:
        auth_type: serviceAccount
        extract:
          metadata:
            - k8s.pod.name
            - k8s.namespace.name
            - k8s.pod.uid
            - k8s.node.name
            - k8s.container.name
        pod_association:
          - sources:
            - from: resource_attribute
              name: k8s.pod.uid

      memory_limiter:
        check_interval: 5s
        limit_percentage: 80
        spike_limit_percentage: 25

    exporters:
      debug:
        verbosity: normal

      opensearch:
        http:
          endpoint: http://opensearch.opensearch.svc.cluster.local:9200
          tls:
            insecure: true

    extensions:
      health_check:
        endpoint: ${env:MY_POD_IP}:13133

    service:
      extensions:
      - health_check

      pipelines:
        logs:
          receivers:
          - filelog
          - otlp
          processors:
          - memory_limiter
          - batch
          - k8sattributes
          exporters:
          - opensearch
          - debug

        metrics:
          receivers:
          - otlp
          processors:
          - memory_limiter
          - batch
          exporters:
          - debug

        traces:
          receivers:
          - otlp
          processors:
          - memory_limiter
          - batch
          exporters:
          - debug

      telemetry:
        metrics:
          readers:
          - pull:
              exporter:
                prometheus:
                  host: ${env:MY_POD_IP}
                  port: 8888
